# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
dist/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Database
*.sqlite3
*.db

# System
Thumbs.db

# Streamlit cache
.streamlit/

# Docker
*.tar
