# Core dependencies
slack-bolt
python-dotenv
llama-cpp-python
matplotlib
numpy
pandas
requests
python-dotenv
langchain
langchain-openai
scipy
langgraph
dataclasses
typing-extensions
llama-cpp-python
pydantic
pytest
tqdm